@using Mock3.Core.Enums
@model IEnumerable<Mock3.Core.ViewModels.UserExamDetailsViewModel>
@{
    ViewBag.Title = "آزمونهای من";
}

<h2>جزئیات آزمونهای شما</h2>


<div class="container">
    <div class="text-center">
        <strong>
            @TempData["Message"]
        </strong>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>تاریخ برگزاری آزمون</td>
                    <td>روز و ساعت</td>
                    <td>شماره ووچر</td>
                    <td>Reading</td>
                    <td>Listening</td>
                    <td>Speaking</td>
                    <td>Writing</td>
                    <td>Total</td>
                </tr>
            </thead>
            @foreach (var exam in Model)
            {
                <tr>
                    <td>@exam.ExamDate</td>
                    <td>@exam.ExamDesc</td>
                    <td><span class="voucher-format">@exam.VoucherNo</span></td>
                    <td>@exam.ReadingScore</td>
                    <td>@exam.ListeningScore</td>
                    <td>@exam.SpeakingScore</td>
                    <td>@exam.WritingScore</td>
                    <td>@exam.TotalScore</td>
                    <td>
                        <strong>@exam.UrgentScoreDetails</strong>
                        @{
                            if (exam.UrgentScoreStatus == UrgentScoreStatus.AvailableForSubmit)
                            {
                                using (Html.BeginForm("UrgentScore", "Exams", new { examId = exam.ExamId }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-primary">درخواست نمره دهی اضطراری</button>
                                }
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


