@model Mock3.ViewModels.ExamsListViewModel
@{
    ViewBag.Title = "لیست آزمونها جهت ثبت نام";
}

<h2>ثبت نام در آزمون آزمایشی</h2>


<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>عنوان آزمون</td>
                    <td>تاریخ برگزاری</td>
                    <td>روز و ساعت آزمون</td>
                    <td>ظرفیت</td>
                    <td>وضعیت ثبت نام</td>
                    <td></td>
                </tr>
            </thead>
            @foreach (var exam in Model.Exams)
            {
                <tr>
                    <td>@exam.Name</td>
                    <td>@exam.StartDate</td>
                    <td>@exam.Description</td>
                    <td>@exam.Capacity</td>
                    <td>
                        @{
                            if (!exam.IsUserRegisteredBefore)
                            {
                                <span>@exam.RegisterStatus</span>
                            }
                            else
                            {
                                <span>ثبت نام انجام شده</span>
                            }

                        }
                    </td>
                    <td>
                        @{
                            if (exam.IsOpen
                                && !exam.IsUserRegisteredBefore
                                && exam.RemainingCapacity > 0)
                            {
                                @Html.ActionLink("ثبت نام", "Register", new { id = exam.Id }, new { @class = "btn btn-primary" })

                            }
                        }
                    </td>
                </tr>
            }
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>





