@using Mock3.ViewModels
@model IEnumerable<Mock3.ViewModels.UserVoucherDetailsViewModel>
@{
    ViewBag.Title = "جزئیات ووچرهای من";
}

<h2>جزئیات ووچرهای شما</h2>

<div class="container">
    <div class="text-center">
        <strong>
            @TempData["Message"]
        </strong>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>شماره ووچر</td>
                    <td>تاریخ خرید</td>
                    <td>تاریخ انقضاء</td>
                    <td>نام خریدار</td>
                    <td>تاریخ آزمون</td>
                    <td>روز و ساعت</td>
                </tr>
            </thead>
            @foreach (var voucher in Model)
            {
                <tr>
                    <td><span class="voucher-format">@voucher.VoucherNo</span></td>
                    <td>@voucher.VoucherPurchaseDate</td>
                    <td>@voucher.VoucherExpirationDate</td>
                    <td>@voucher.VoucherPurchaser</td>
                    <td>@voucher.ExamDate</td>
                    <td>@voucher.ExamDesc</td>
                    <td>
                        <strong>@voucher.CurrentStatusDesc</strong>
                        @{
                            if (voucher.CurrentStatus == VoucherStatus.RegisteredInAnExam)
                            {
                                using (Html.BeginForm("VouchersDetails", "Vouchers", new { voucherId = voucher.VoucherId }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden(voucher.VoucherId.ToString())
                                    <button class="btn btn-primary">آزادسازی ووچر</button>
                                }
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

